<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizwell.echarts.mapper.FolderInfoMapper">
  <resultMap id="BaseResultMap" type="com.bizwell.echarts.bean.domain.FolderInfo" autoMapping="true">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="folder_name" property="folderName" jdbcType="VARCHAR" />
    <result column="folder_type" property="folderType" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
    <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
    <result column="reserved3" property="reserved3" jdbcType="VARCHAR" />
    <collection property="childrenFolder" ofType="com.bizwell.echarts.bean.domain.ChildrenFolder" autoMapping="true">
        <id column="child_id" property="childId" jdbcType="INTEGER" />
		<result column="child_folder_name" property="childFolderName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, folder_name, folder_type, parent_id, level, is_del, create_time, update_time, reserved1, reserved2, reserved3
  </sql>
  
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.bizwell.echarts.bean.dto.FolderParam">
  	select
  		<include refid="Base_Column_List" />
    from gb_folder_info t
    <where>
    	t.is_del = 0
    	<if test="parentId != null and parentId != ''">
			<trim prefixOverrides="and / or">
				and t.parent_id = #{parentId, jdbcType=INTEGER}
			</trim>
		</if>
    </where>
  </select>
  
  <select id="selectFolder" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  		t1.id,
  		t1.folder_name,
  		t2.id as child_id,
  		t2.folder_name as child_folder_name
  	from gb_folder_info t1
  	left join (SELECT * FROM gb_folder_info t WHERE t.is_del = 0) t2 on t1.id = t2.parent_id
  	<where>
  		t1.level = 0 and t1.is_del = 0
  		<if test="userId != null and userId != ''">
			<trim prefixOverrides="and / or">
				and t1.user_id = #{userId, jdbcType=INTEGER}
			</trim>
		</if>
  	</where>
  	order by t1.id ASC
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gb_folder_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gb_folder_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.bizwell.echarts.bean.domain.FolderInfo" >
    insert into gb_folder_info (id, user_id, folder_name, 
      folder_type, parent_id, level, 
      is_del, create_time, update_time, 
      reserved1, reserved2, reserved3
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{folderName,jdbcType=VARCHAR}, 
      #{folderType,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.bizwell.echarts.bean.domain.FolderInfo"
  			useGeneratedKeys="true" keyProperty="id">
    insert into gb_folder_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="folderName != null" >
        folder_name,
      </if>
      <if test="folderType != null" >
        folder_type,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="reserved1 != null" >
        reserved1,
      </if>
      <if test="reserved2 != null" >
        reserved2,
      </if>
      <if test="reserved3 != null" >
        reserved3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="folderName != null" >
        #{folderName,jdbcType=VARCHAR},
      </if>
      <if test="folderType != null" >
        #{folderType,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved1 != null" >
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        #{reserved3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.bizwell.echarts.bean.domain.FolderInfo" >
    update gb_folder_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="folderName != null" >
        folder_name = #{folderName,jdbcType=VARCHAR},
      </if>
      <if test="folderType != null" >
        folder_type = #{folderType,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved1 != null" >
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.bizwell.echarts.bean.domain.FolderInfo" >
    update gb_folder_info
    set user_id = #{userId,jdbcType=INTEGER},
      folder_name = #{folderName,jdbcType=VARCHAR},
      folder_type = #{folderType,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      reserved1 = #{reserved1,jdbcType=VARCHAR},
      reserved2 = #{reserved2,jdbcType=VARCHAR},
      reserved3 = #{reserved3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>