<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizwell.datasource.mapper.MysqlTableConfMapper">
	<resultMap id="BaseResultMap" type="com.bizwell.datasource.bean.MysqlTableConf">
		<id column="id" property="id" />
		<result column="conn_id" property="connId" />
		<result column="conn_name" property="connName" />
		<result column="database_name" property="databaseName"
			jdbcType="VARCHAR" />
		<result column="table_name" property="tableName" jdbcType="VARCHAR" />
		<result column="table_comment" property="tableComment"
			jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="save" parameterType="com.bizwell.datasource.bean.MysqlTableConf"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="java.lang.Integer">
			select
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `ds_mysql_table_conf`
		(
		`conn_id`,
		`database_name`,
		`table_name`,
		`table_comment`,
		`user_id`)
		VALUES (
		#{connId},
		#{databaseName},
		#{tableName},
		#{tableComment},
		#{userId});
	</insert>


	<insert id="saveBatch" parameterType="com.bizwell.datasource.bean.MysqlTableConf"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="java.lang.Integer">
			select
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `nebula`.`ds_mysql_table_conf`
		(
		`conn_id`,
		`database_name`,
		`table_name`,
		`table_comment`,
		`user_id`)
		VALUES
		<foreach collection="list" item="entity" index="index"
			separator=",">
			('${entity.connId}',
			'${entity.databaseName}',
			'${entity.tableName}',
			'${entity.tableComment}',
			'${entity.userId}')
		</foreach>
	</insert>


	<select id="select" parameterType="com.bizwell.datasource.bean.MysqlTableConf"
		resultMap="BaseResultMap">
		SELECT
		t1.`id`,
		t1.`conn_id`,
		t2.name conn_name,
		t1.`database_name`,
		t1.`table_name`,
		t1.`table_comment`,
		t1.`user_id`,
		DATE_FORMAT(t1.create_time,'%Y-%m-%d') create_time
		FROM
		`ds_mysql_table_conf` t1
		left join ds_mysql_conn_conf t2 on (t1.conn_id=t2.id)
		<where>
			<if test="null != id">
				and t1.id = #{id}
			</if>
			<if test="null != connId">
				and t1.conn_id = #{connId}
			</if>
			<if test="null != databaseName">
				and t1.database_name = #{databaseName}
			</if>
			<if test="null != userId">
				and t1.user_id = #{userId}
			</if>
		</where>
	</select>

	<select id="selectDatabase" parameterType="com.bizwell.datasource.bean.MysqlTableConf"
		resultMap="BaseResultMap">
		SELECT 
		distinct `database_name`,
		`user_id`
		FROM
		`ds_mysql_table_conf`
		<where>
			<if test="null != id">
				and id = #{id}
			</if>
			<if test="null != connId">
				conn_id = #{connId}
			</if>
			<if test="null != userId">
				and user_id = #{userId}
			</if>
		</where>
	</select>




	<delete id="deleteByConnId">
		DELETE FROM ds_mysql_table_conf WHERE conn_id in
		<foreach collection="ids" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>

</mapper>