<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizwell.mapper.ChatCommentMapper">
    <resultMap id="BaseResultMap" type="com.bizwell.entity.ChatComment">
        <result column="id" property="id"/>
        <result column="comment_time" property="commentTime" jdbcType="VARCHAR"/>
        <result column="star" property="star" jdbcType="VARCHAR"/>
        <result column="comments" property="comments" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="DOUBLE"/>
    </resultMap>
    <select id="select" resultMap="BaseResultMap">
        SELECT
          `id`,
          DATE_FORMAT(comment_time,'%Y-%m-%d') AS comment_time,
          `star`,
          `comments`,
          `user_id`,
          `score`
        FROM chat_comment

        <where>
            score &lt; 0
            <if test="null != id">
                and id = #{id}
            </if>
            <if test="null != searchVal">
                and comments like concat(concat('%', #{searchVal}), '%')
            </if>
        </where>
        order by id desc
    </select>


    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        `id`,
        DATE_FORMAT(comment_time,'%Y-%m-%d') AS comment_time,
        `star`,
        `comments`,
        `user_id`,
        `score`
        FROM chat_comment
        <where>
            <if test="null != id">
                and id = #{id}
            </if>
        </where>
        order by id desc
    </select>

    <update id="insert" parameterType="com.bizwell.entity.ChatComment"  useGeneratedKeys="true" keyProperty="id" >
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
            INSERT INTO chat_comment
                        (
                         `comment_time`,
                         `star`,
                         `comments`,
                         `user_id`,
                         `score`)
            VALUES (
                    #{commentTime},
                    #{star},
                    #{comments},
                    #{userId},
                    #{score});
    </update>

    <update id="update" parameterType="com.bizwell.entity.ChatComment">
        UPDATE chat_comment
        SET score = #{score}
        WHERE id = #{id}
    </update>
</mapper>